{% load static %}

<!-- Navigation Header -->
<header id="header" class="header d-flex align-items-center sticky-top">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
      <h1 class="sitename">Nexa Fashion House</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'home' %}" class="active">Home</a></li>
        <li><a href="{% url 'core:about_view' %}">About</a></li>
        <li><a href="{% url 'core:portfolio' %}">Collections</a></li>
        <li><a href="{% url 'core:services' %}">Services</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>Details</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i
          ></a>
          <ul>
            <li>
              <a href="{% url 'core:portfolio-details' %}"
                >Collection Details</a
              >
            </li>
            <li>
              <a href="{% url 'core:service-details' %}">Service Details</a>
            </li>
            <!-- contact -->
             <li>
              <a href="{% url 'core:contact' %}">Contact</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <a class="btn-getstarted" href="{% url 'core:about_view' %}">Explore Luxury</a>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </div>
</header>
